@import url(./typography.css);

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: #5ddf81;
  --clr-secondary: #7f5be8;
  --clr-dark-1: #10121a;
  --clr-dark-2: #2b4b4b;
  --clr-white: white;

  --radius-s: 3px;
  --radius-m: 6px;
  --radius-l: 10px;

  --gap-s: 0.5rem;
  --gap-m: 1rem;
  --gap-l: 2rem;
  --gap-xl: 4rem;
}

body {
  /* font-family: "elza-text", sans-serif; */
  font-family: greycliff-cf, sans-serif;
  background: var(--clr-dark-1);
  cursor: default;
}

h1,
h2,
h3,
h4,
h5,
ul,
li,
ol,
p {
  color: var(--clr-white);
}

p {
  font-size: 21px;
  color: rgb(231, 240, 235);
  line-height: 1.6rem;
}

.wrapper {
  width: min(100% - 2rem, 125rem);
  margin-inline: auto;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

/* Header */

.primary-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.header-nav-list {
  display: flex;
  padding-left: 0;
}

.nav-item {
  list-style: none;
}

.primary-nav-link {
  font-size: 1.2rem;
  color: var(--clr-white);
  text-decoration: none;
}

/* Profile Card */

.user-container {
  display: flex;
  align-items: center;
  /* justify-self: end; */
  gap: var(--gap-m);
}

.profile-pic {
  width: 57px;
  aspect-ratio: 1;
  border-radius: 100px;
  outline: 3px solid var(--clr-secondary);
  outline-offset: 4px;
}

.user-desc::first-line {
  font-weight: 700;
  font-size: 20px;
}

.user-desc p {
  font-size: 17px;
}

/* Scroll to top */

.scroll-container {
  display: flex;
  justify-content: flex-end;
  padding: var(--gap-l);
}

.scroll-top-icon {
  cursor: pointer;
  font-size: 1.7rem;
  color: var(--clr-white);
  background: transparent;
  border: none;
  padding: 0.3rem 0.7rem;
  transition: 200ms ease;
}

.scroll-top-icon:hover {
  color: var(--clr-primary);
}

/* Layout */

.header-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  min-height: 5rem;
  padding: 1rem;
  gap: var(--gap-l);
}

.hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  min-height: 30rem;
  gap: var(--gap-l);
}

.about-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  min-height: 20rem;
  gap: var(--gap-l);
}

/* Hero */

.hero-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-logo {
  place-self: center;
}

.logo-icon {
  fill: var(--clr-primary);
  width: 100px;
}

hr {
  border-color: var(--clr-dark-2);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* About */

.contact-content {
  min-height: 20rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Portfolio */

.cover-img {
  width: 100%;
  object-fit: cover;
  border-radius: var(--radius-m);
}

.flex-center-gap {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.flex-center-gap-pad {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.project-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: var(--gap-l);
  padding: var(--gap-m);
  min-height: 18rem;
}

/* Media Queries */

@media screen and (max-width: 400px) {
  .cover-img {
    width: 100%;
    min-height: 50dvh;
  }

  .flex-center-gap-pad {
    padding: 0rem;
  }

  .ext-icon-text {
    display: none;
  }

  .project-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 10rem;
    margin-bottom: 3rem;
  }

  .project-links {
    display: flex;
  }

  .contact-content {
    min-height: 15rem;
  }
}
