.bio-text {
  font-size: clamp(1.1rem, 2vw, 1.6rem);
  line-height: 1.2;
  font-weight: 300;
  /* width: min(100%), max(40ch); */
  width: min(100%, 30ch);
}

.clr-primary {
  color: var(--clr-primary);
}

.font-hero-title {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  color: var(--clr-primary);
}

.font-section-title {
  font-size: 2.6rem;
  font-weight: 500;
  color: var(--clr-primary);
  margin-bottom: 1rem;
}

.project-title {
  color: var(--clr-secondary);
  font-size: clamp(1.7rem, 2vw, 2.5rem);
}
